---
import StandardPageLayout from "../../layouts/StandardPageLayout.astro";
import RecipeCard from "../../components/RecipeCard.astro";
import { getCollection } from "astro:content";

const allRecipes = await getCollection("food");
const filteredRecipes = allRecipes.filter(recipe => !recipe.data.private);

const recipes = filteredRecipes.map((recipe) => ({
  title: recipe.data.title,
  slug: recipe.id.replace(/\.mdx?$/, '')
})).sort((a, b) => (a.title || '').localeCompare(b.title || ''));


---
<StandardPageLayout title="Food">
<p>Me pregunto desde ya hace un par de días: en la era de <b>chatGPT</b> y <b>YouTube</b>, ¿para que hacer otro libro de recetas?</p>
<br/>
<p>Y siendo completamente honesto... <b>No se.</b></p>
<br/>
<p>Por eso mismo, decidí aplicar uno de los mejores trucos utilizados en el
arte de las demostraciones matemáticas... Para este <s>libro de recetas</s>
decidí <a href="https://en.wikipedia.org/wiki/Proof_by_intimidation"
class="font-bold underline" target="_blank">asumir las recetas trivales, y
dejarlas como ejercicio al lector</a>.</p>
<br/>
<p>Y dejando eso claro, poder dedicarme yo de lo importante: Cocinar, Compartir y Comer.</p>
<br/>
<p>Muchas gracias a todos los que cocinaron, compartieron y comieron conmigo, este es un homenaje a todos ustedes.</p>
<br/>
<br/>
  {recipes.length === 0 ? (
  <p class="mb-[100%]">No tengo recetas 😔</p>
  <p>(O puede que esten escondidas 🤫)</p>
  ) : (
    <ul class="grid gap-4 sm:grid-cols-2">
      {recipes.map((recipe) => (
        <RecipeCard recipe={recipe} />
      ))}
    </ul>
  )}
</StandardPageLayout>
