---
import StandardPageLayout from "../../layouts/StandardPageLayout.astro";
import RandomCard from "../../components/RandomCard.astro";
import { getCollection } from "astro:content";

const allRandom = await getCollection("random");

const random_stuff = allRandom.map((item) => ({
  ...item.data,
  slug: item.id.replace(/\.mdx?$/, '')
})).sort((a, b) => (a.title || '').localeCompare(b.title || ''));

---
<StandardPageLayout title="Random Stuff">
<p class="mb-10"> En algún punto, pienso usar este espacio para cosas random, como la razón de los settings que uso para lavar la ropa o la razón por la que me gusta tomar café de pie y en una taza pesada, tipo, no se...</p>
<ul class="grid gap-4 sm:grid-cols-2">
    {random_stuff.map((stuff) => (
    <RandomCard project={stuff} />
    ))}
</ul>
</StandardPageLayout>
