---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Nav from "../../components/Nav.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---
<BaseLayout title="References">
  <Fragment slot="nav"><Nav /></Fragment>
  <Fragment slot="header"><Header /></Fragment>
  <Fragment slot="footer"><Footer /></Fragment>

  <p class="opacity-80">Resources and tools I reference.</p>
</BaseLayout>
