---
import StandardPageLayout from "../layouts/StandardPageLayout.astro";
---
<StandardPageLayout title="Home">
  <p class="opacity-80">No se lo que estoy haciendo, pero espero hacerlo mejor con el tiempo))))</p>
</StandardPageLayout>
