---
import StandardPageLayout from "../layouts/StandardPageLayout.astro";
---
<StandardPageLayout title="Home" >


<p class="opacity-80 mb-5">
🇪🇸<b>:</b> No soy el mejor escibiendo y frecuentemente todo termina siendo una transcripción de mis pensamientos —casi literalmente—, por eso mismo en ocaciones escribo en español pero en otras lo hago en ingles, y si algún día llego a pensar en ruso: pues en ruso... tipo, eso va saliendo naturalmente. Por eso recomiendo utilizar la extención —en firefox o chrome— <a href="https://linguister.io/" class="font-bold underline" target="_blank">Linguist Translate 🔗</a> para traducir las páginas completas. Al final... es una buena herramienta.</p>

<p class="opacity-80 mb-5">
🏴󠁧󠁢󠁥󠁮󠁧󠁿<b>:</b> I write like I think, so sometimes in Spanish, sometimes in English... and maybe in Russian at some point. Use <a href="https://linguister.io/" class="font-bold underline" target="_blank">this tool for translation 🔗</a>, it's good and private.</p>

<p class="opacity-80 mb-5">
🇷🇺<b>:</b> Пишу, как мыслю, поэтому иногда по-испански, иногда по-английски... а может, и по-русски когда-нибудь. Используй этот <a href="https://linguister.io/" class="font-bold underline" target="_blank">инструмент для перевода 🔗</a> — он хороший и приватный.</p>

</StandardPageLayout>
