---
import StandardPageLayout from "../layouts/StandardPageLayout.astro";
---
<StandardPageLayout title="Home">
<p class="opacity-80 mb-5">
No se lo que estoy haciendo, pero espero hacerlo mejor con el tiempo))))
</p>

<p>
<a class="opacity-80">Y aunque no soy el mejor escibiendo, estoy intentadolo, aunque frecuentemente todo se resuelve a plasmar mis pensamientos casi literalmente, por eso mismo en ocaciones escribo en español pero en otras lo hago en ingles... tipo, eso va saliendo según lo que esté pensando. Por eso se recomienda</a> <a href="https://linguister.io/" class="text-black after:content-['_↗'] opacity-100">utilizar la extención —en firefox o chrome— <b>Linguist Translate</b> para traducir páginas enteras con alta fidelidad.</a>
</p>
</StandardPageLayout>
