<div class="mx-auto max-w-6xl px-4 py-4">
  <div class="footer-row">
    <div>
      <ul class="space-y-1 text-sm opacity-90">
          <li><a href="https://t.me/rruummbbaa" class="hover:underline" target="_blank">Telegram Channel</a></li>
      </ul>
    </div>
    <div>
      <ul class="space-y-1 text-sm opacity-90">
          <li><a href="https://github.com/cbr4l0k" class="hover:underline" target="_blank">GitHub</a></li>
      </ul>
    </div>
    <div>
      <ul class="space-y-1 text-sm opacity-90">
          <li><a href="https://t.me/rruummbbaa" class="hover:underline" target="_blank">Telegram Channel Again<br />(Don't have much social networks)</a></li>
      </ul>
    </div>
  </div>
</div>
