---
import { createPath } from '../utils/paths';
---
<div class="flex items-center gap-2 px-4 py-2">
    <a href={createPath('/')} class="flex items-center gap-3 p-4 text-xl font-extrabold tracking-tight border-b border-gray-200">
    <span class="text-[#222]">» Simple Elegant Web.Site «</span>
  </a>
</div>
