---
export interface Props {
  message?: string;
}

const { message = "... En desarrollo" } = Astro.props;

---
<script hoist lang="ts">
  import "../scripts/flow-canvas.ts";
</script>
<div class="animation-container">
  <h1 class="flow-message">{message}</h1>
  <div class="canvas-wrapper">
    <canvas id="flow-canvas"></canvas>
  </div>
</div>

