---
import StandardPageLayout from "../../layouts/StandardPageLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");

const projects = allProjects.map((project) => ({
  ...project.data,
  slug: project.id.replace(/\.mdx?$/, '')
})).sort((a, b) => (a.title || '').localeCompare(b.title || ''));

 
---
<StandardPageLayout title="Projects">
  {projects.length === 0 ? (
    <p>No tengo proyectos 😔</p>
  ) : (
    <ul class="grid gap-4 sm:grid-cols-2">
      {projects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </ul>
  )}
</StandardPageLayout>
